*{
    text-transform: capitalize;
    padding: 0%;
    margin: 0%;
}
.body{
    /* background-image: url('../images/logo.png'); */
    background:rgb(241, 235, 241);
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    /* overflow: hidden; */
    
    
}
a{
    color:rgb(143, 93, 143);
    
    text-decoration: none;
}
header{
    width: 100%;
    height:40px;
    box-shadow:5px, 5pxpx black ;
    position: fixed;
    z-index: 500;
    
    
}
header, .nav-options{
    
    display: flex;
    justify-content: space-between;
    background-color:white;
    
    
}
.logo{
    width:30px;
    height: 20px;
    margin-left: 20px;
}
img{
    width:100%;
}
h1{
   font-size: 1.5rem;
   font-family: Arial, Helvetica, sans-serif;

}
.nav-options{
    width: 70%;
    margin-right: 10px;
    color:rgb(143, 93, 143);

}

  

.header-links{
    background-color: white;
    border-radius: 2px;
    padding-top:2px;
    display: none;
    
    
}
.tab{
    font-size: 1.2em;
}
.header-link{
    background-color: white;
    border-radius: 2px;
    padding-top:2px;
    display: inline-block;
    
    
}
.header-link a{
    font-size: 0.8em;

}

.men a{
    color: black;
    padding: 3px;
    font-family: cursive;
    font-weight: 100
}
.men{
    background-color: 
}

header div{
    margin-top: 3px;
}
.row1, form{
    display: flex;
}
.row1{
    margin-bottom: 0%;
    height: 80%;
    padding-bottom: 15%;
}

.form{
    justify-content: space-between;
    height: 15%;
    margin: auto;
    width: 100%;
    align-items: center;
}
button{
    margin: auto;
    height: 100%;
    flex-basis: 20%;
    border: none;
    background-color: rgb(226, 215, 226);
    padding: 10px 0px;
}

.side{
    width: 20%;
    height:20pc;
    background-color: white;
    margin: auto;
    box-shadow: 3px black;
    border-radius: 5px;
}
.commentary{
    height: 85%;
    width: 100%;
    overflow-y: auto;
}
.enter-comment{
    height:fit-content;
}
.review{
    font-size: small;
    font-family: cursive;
    text-transform: none;
    background-color: white;
    margin-bottom: 1px;
    width: 100%;
    height: 30px;
    text-align: start;
    overflow-wrap: break-word;
    
}
.enter-comment input{
    width:80%;
    height: 15%;
    border: none;
    flex-basis: 80%;
    padding: 10px;
    text-transform: none;
}
::placeholder{
    text-align: center;
}
.container{
    width: 50%;
    margin: auto;
    /* border: 2px solid black; */
    overflow: hidden;
    margin-top: 38px;
    /* position: relative; */
    
    
    
    

    box-sizing: border-box;

}
.slide{
    width: 100%;
    height: 400px;
    display: flex;
    transition:3s;
    
}



.circle{
    width: 10%;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    /* top: 60%; */
    /* left: 54%; */
    margin: 30% 20%;
    
}
.circle div{
    height: 15px;
    width: 20%;
    background-color: black;
    border-radius: 7px;
}
.advert-carrier{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
      overflow-wrap: break-word;
     border: 1px dashed purple;
}
.advert-carrier h1{
      width: 100%;
      font-size: 0.8rem;
      height: auto;
      overflow-wrap: break-word;
      margin: auto;
      padding: 5px;
      margin-top: 0%;
}
footer{
    width: 100%;
    height: fit-content;
    background-color: rgb(213, 201, 224);
    padding: 0px 0px;
    /* position: absolute; */
    /* top: 100%; */
    margin-bottom: 0px;
    margin: auto;
}
.motto{
    
    text-align: center;
    font-family: cursive;
    font-size: 0.7rem;
}
.list{
    display: flex;
    justify-content:space-around ;
    width: 70%;
    margin: auto;


    
}

.type{
    width: 30%;
    height: 300px;
    background-color: rgb(213, 207, 219);
    margin:20px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    font-family: cursive;
    box-shadow: 2px 2px 2px 2px rgb(31, 29, 29);
}
.type .images{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 3%;
    overflow: hidden;
    border-radius: 9px;
    height: 50%;
}
.swipe{
    display: flex;
    width: 100%;
    /* display: none; */
    transition: 0.5s;
    
}
.write-ups{
    width: 80%;
    margin: auto;
    overflow-wrap: break-word;
    padding: 2px;
    margin-top: 5px;
    background-color: aliceblue;
    border-radius: 9px;
    height: 30%;
}
.buttons{ 
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
}
.buttons button{
    background:none;
    font-size: 0.65rem;
    
}
.menu-container{
    width: fit-content;
    height: 340px;
    overflow: hidden;
    position: absolute;
    top: -80%;
    transition: 0.5s;

}
.menu-containerr{
    width: fit-content;
    height: 340px;
    overflow: hidden;
    position: absolute;
    top: 45%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
    .close{
        position: absolute;
        height: fit-content;
        top: 40%;
        color: white;
        display: none;
    }



@media (max-width:380px){
    .body{
        max-height:820px;
    }
    .row1{
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        margin:auto;
    }
    .container{
        width: 100%;
        margin: auto;
        /* position: absolute; */

    }
    .container h1{
        margin: auto;
        position: relative;
        height: fit-content;
        border: none;
    }
    .slide{
        top: 15px;
        /* position: absolute; */
        width: 100%;
    }
    .comment{display: none;}
    .advert{
        width: 100%;
        height:100%;
    margin-top: 15%;
    text-align: center;
    padding: 40px 0px;
}
.slide{
    margin-top: 60px;
    border: none;
}
    .circle{
        top:60%;
        width: 20%;
    }
    
    .menu-containerr{
        width: 100%;
        
    }
    .menu-container{
        top: -100%;
        
    }
    
    .list{
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 100%;
    
    }
    .type{
        /* flex-direction: row; */
    }
    .close{
        position: absolute;
        height: fit-content;
        top: 40%;
        color: white;
    }
    footer{
        padding: 0px;

    }
    .motto{
        margin: auto;
        margin-top: 40px;
    }
    .link{
        overflow-wrap: normal;
        
    }
}
@media (max-width:850px){
    .row1{
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        margin:auto;
    }
    .container{
        width: 100%;
        margin: auto;

    }
    .slide{
        top: 15px;
        /* position: absolute; */
        width: 100%;
    }
    .comment{display: none;}
    .advert{
        width: 100%;
        height:100%;
    margin-top: 15%;
    text-align: center;
    padding: 40px 0px;
}
    .circle{
        top: 35%;
    }
    .menu-containerr{
        width: 100%;
        
    }
     .menu-container{
        top: -100%;
        
    }
   
    .list{
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 100%;
    
    }
    .type{
        /* flex-direction: row; */
    }
    .close{
        position: absolute;
        height: fit-content;
        top: 40%;
        color: white;
    }

       
    
    .motto{
        margin: auto;
        margin-top: 40px;
    }
    .link{
        overflow-wrap: normal;
        
    }
}
